<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Búsqueda</title>
</head>
<body>
    
<p> Estamos buscando el nombre : {{ nombre }} </p>
{% if guardas %}
    <ul>
        {% for guarda in guardas %}
            <li>Nombre: {{ guarda.nombre }}</li>
            <li>Apellido: {{ guarda.apellido }}</li>
            <li>Categoría: {{ guarda.categoria }}</li>
        {% endfor %}
    </ul>


 {% endif %}

</body>
</html>

