{% extends 'App/padre.html' %}

{% block contenidoque_cambia %}

{# Este div sólo está agregado para centrar el formulario en la página usando Bootstrap #}
<div class="d-flex justify-content-center mt-5">

    {# Con este div colocamos el título y debajo el formulario usando Bootstrap #}
    <div class="d-flex flex-column">

        {# Mensaje personalizado en la vista de Registro con estilos de Bootstrap #}
        <p class="fs-5 fw-bold">{{ msg_register }}</p>

        <form action="" method="POST">
            {% csrf_token %}
            
            {{ form.as_p }}
            <input type="submit" value="Registrarse" class="btn btn-primary mt-3">

        </form>

    </div>
</div>
{% endblock contenidoque_cambia %}




